[database]
#hostname instance username password
localhost:DBT1:pgsql:postgres

[cache]
#hostname port dbconnections items appCache_executable_directory
localhost:9999:5:1000:/home/pgsql/dbt1-v3.0.0.pgxc/cache

[appServer]
#hostname 
localhost
#port
9999
#dbconnection
10
#transaction_queue_size
1500
#transaction_array_size
1500
#items
10000
#appServer executable directory
/home/pgsql/dbt1-v3.0.0.pgxc/appServer

[dbdriver]
#hostname 
localhost
#items
10000
#customers
28800
#eu
400
#eu/min
100
#mean think_time
7.2
#run_duration in seconds
4000
#dbdriver executable directory
/home/pgsql/dbt1-v3.0.0.pgxc/dbdriver
